#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.budgie {
  height: 2em;
  will-change: filter;
  transition: filter 1000ms;
}

.budgie:hover {
  filter: drop-shadow(0 0 10px #00ff37aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.new {
  background-color: white;
}

.multiSelectBtn {
  min-width: 10vw;
}


form {
  color: red;
}

input {
  color: black;
  background-color: #e0e0e0;
}